*.iml
.gradle
.local.properties
.idea
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
app/secrets.properties
/app/secrets.properties
.Thumbs.db
.google-services.json
.google-services-desktop.json