<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:androi="http://schemas.android.com/apk/distribution"
    package="com.example.ogima">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.example.ogima.ui.menusInicio.NavigationDrawerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name="com.example.ogima.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.ogima.ui.intro.IntrodActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"
            android:theme="@style/Theme.Intro" />
        <activity
            android:name="com.example.ogima.MainActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" />
        <activity
            android:name="com.example.ogima.ui.cadastro.CadastroActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" />
        <activity
            android:name="com.example.ogima.ui.cadastro.CadastroEmailActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" />
        <activity
            android:name="com.example.ogima.ui.cadastro.NomeActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" />
        <activity
            android:name="com.example.ogima.ui.cadastro.EmailActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" />
        <activity
            android:name="com.example.ogima.ui.cadastro.SenhaActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" />
        <activity
            android:name="com.example.ogima.ui.cadastro.NumeroActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" />
        <activity
            android:name="com.example.ogima.ui.cadastro.CodigoActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" />
        <activity
            android:name="com.example.ogima.ui.cadastro.ApelidoActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" />
        <activity
            android:name="com.example.ogima.ui.cadastro.NascimentoActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" />
        <activity
            android:name="com.example.ogima.ui.cadastro.GeneroActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" />
        <activity
            android:name="com.example.ogima.ui.cadastro.OpcaoSActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" />
        <activity
            android:name="com.example.ogima.ui.cadastro.InteresseActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" />
        <activity
            android:name="com.example.ogima.ui.cadastro.FotosActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" />
        <activity
            android:name="com.example.ogima.ui.login.LoginActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" />
        <activity
            android:name="com.example.ogima.ui.login.LoginEmailActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" />
    </application>

</manifest>